# Application Settings
NODE_ENV= development
PORT=5200
CLIENT_URL=
JWT_EXPIRES_IN=7d
OTP_TTL=600
PASSWORD_RESET_TTL=900
LOG_LEVEL=info
JWT_SECRET=


# Database and Redis URL's
DATABASE_URL=
REDIS_URL=

# Email system 
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
