# Application Settings
NODE_ENV= development
PORT=5200
CLIENT_URL=
SESSION_MAX_AGE_MS=604800000
OTP_TTL=600
PASSWORD_RESET_TTL=900
LOG_LEVEL=info
SESSION_SECRET=


# Database and Redis URL's
DATABASE_URL=
REDIS_URL=

# Email system 
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
